html {
  font-family: sans-serif;
  color: #333;
}
body {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 600px;
}
div, article {
  padding: 10px;
  margin: 5px;
  border: 1px solid #dedede;
}

.traverse > * {
  border: 2px solid #dedede;
  padding: 15px;
  margin: 15px;
}

img {
  width: 100%;
  height: 150px;
}

.active {
  border: 2px solid blue !important;
}

.warning {
  border: 2px solid red !important;
}

.hidden {
  display: none;
}

#modify-class {
  border: 2px dashed lightgray;
  padding: 15px;
  margin: 5px;
}

.no-border {
  border: none;
}

.no-border > li > a {
  text-decoration: none;
}

.no-border > li {
  list-style-type: decimal;
  margin: 10px 5px;
}
